.App {
    margin-top: 5px;
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    /*color: #61dafb;*/
    color: #00ccff;
}

#editor {
    width: 60vw;
    height: 30vh;
}

@media (width > 1000px) {
    #editor {
        width: 600px;
    }
}
